version: 2
updates:
  - package-ecosystem: "npm"
    directories:
      - "/"
      - "/frontend"
      - "/backend"
    schedule:
      interval: "weekly"
    groups:
      gatsby:
        applies-to: version-updates
        patterns:
          - "gatsby"
          - "gatsby-*"
      sanity:
        applies-to: version-updates
        patterns:
          - "sanity"
          - "@sanity/*"
      typescript-eslint:
        patterns:
          - "typescript"
          - "typescript-eslint"
          - "eslint"
          - "eslint-*"
          - "@eslint/*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
