version: 2
updates:
  - package-ecosystem: "npm"
    directories:
      - "/"
      - "/frontend"
      - "/backend"
    schedule:
      interval: "weekly"
    groups:
      gatsby:
        applies-to: version-updates
        patterns:
          - "gatsby"
          - "gatsby-*"
      react:
        patterns:
          - "react"
          - "react-dom"
      sanity:
        applies-to: version-updates
        patterns:
          - "sanity"
          - "@sanity/*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
