body {
  margin: 0;
  font-size: 15px;
  color: #3c3f43;
  -webkit-text-size-adjust: 100%;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2ebcff;}

.houder {background: #fff; box-shadow: 40px 40px 0 0 rgba(0,0,0,.15); margin: 100px auto; max-width: 75%;}
.houder .inhoud {display: grid; grid-template-columns: 400px 1fr;}
.houder .inhoud .blok  {padding: 50px; border-bottom: 1px solid #eee;}
.houder .inhoud .blok:last-child {border-bottom: 0;}
.houder .inhoud aside {border-right: 1px solid #eee;}

.houder .inhoud.header {background: #eee; color: #000;}

h1, h2, h3 {color: #292a2c; margin: 0 0 20px;}

h3 {margin: 0;}

h2 {display: flex;}
h2 svg {
  margin: auto 10px auto 0;
  font-size: 18px;
  opacity: .6;
}

p {margin: 0 0 20px; line-height: 1.75em;}

small {
  display: block;
  opacity: .75;
  font-size: 13px;
  margin: 3px 0;
}

ul {padding: 0; list-style: none;}
ul li {display: grid; grid-template-columns: 11px 1fr; grid-gap: 10px; margin-bottom: 10px;}
ul li::before {content:"✓"; color: #2ebcff; margin-right: .25em;}
ul li:last-child {margin-bottom: 0px;}

.general {margin-top: auto; display: grid; grid-template-columns: repeat(auto-fit,minmax(210px,1fr)); grid-gap: 20px;}

.tag {display: inline-block; padding: 5px; border: 2px solid #ddd; border-radius: 3px; margin: 0 5px 5px 0;}

.lijst .item {margin-bottom: 20px;}
.lijst .item:last-child {margin-bottom: 0;}

.experiences {border-left: 3px solid #ddd; padding-left: 20px;}
.experiences > div {margin-bottom: 20px;}
.experiences > div h3 {position: relative;}
.experiences > div h3::before {position: absolute; content: ""; height: 7px; width: 7px; background: #fff; left: -27px; top: 5px; border: 2px solid #ddd; border-radius: 3px;}
.experiences > div:last-child {margin-bottom: 0;}

@media screen and (max-width: 1100px) {
  .houder {max-width: 100%; margin: 10px;}
  .houder .inhoud {display: block;} 
  .houder .inhoud .blok  {padding: 20px;}
  .houder .inhoud aside .blok:last-child {border-bottom: 1px solid #eee;}
}